@model Farm

@{
    Layout = "_Layout";
    Random rnd = new Random();
    List<string> randImg = new List<string>();
    for (int i = 0; i <= 20; i++)
    {
        int rand = rnd.Next(1, 5);
        randImg.Add($"/IMG/produkt{rand}.png");
    }
    var helper = new Helper();
    var new_post = new CreatePost();
    new_post.User_id = helper.Id;
}
<head>
<link rel="stylesheet" href="~/css/farmer.css">
</head>
<body>
<div class="main_farmer">
    <img src="@randImg[0]"/>
    <p class="nazwa">@Model.Name</p><img class="add_button" id="add_button" src="~/IMG/Dodaj.png"/>
    <div class="delivery_time"><img src="~/IMG/czas.png"> <p>@Model.Delivery_Time</p></div>
    <div class="delivery_days"><img src="~/IMG/dostawa.png"><p>@Model.Delivery_Days</p></div>

    <ul class="posty">
        @foreach(var posty in Model.Posts)
        {
            <li>
                <img src="@randImg[@posty.Id+1]">
                <p class="tytul">@posty.Title</p>
                <p class="produkt">@posty.Product.Name</p>
                <p class="cena">@posty.Price.Amount</p>
            </li>
        }
    </ul>
</div>


  <div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
              <form method="post" onsubmit="location.href=@Url.Action("CreateOrder", "Home", new_post)">
                  <h2>Dodaj produkt</h2>
                <div class="form-group">
                  <label for="name">Tytuł:</label>
                  <input type="text" id="name" name="name" placeholder="Tytuł" asp-for="@new_post.Title">
                </div>
                  <div class="form-group">
                      <label for="Nazwa">Nazwa</label>
                      <input type="text" id="nazwa" name="Nazwa" asp-for="@new_post.Product_Name">
                  </div>
                  <div class="form-group">
                      <label for="Nazwa">Opis produktu</label>
                      <input type="text" id="opis_produktu" name="opis_produktu" asp-for="@new_post.Product_Description">
                  </div>
                          <div class="form-group">
                            <label for="Nazwa">Cena</label>
                            <input type="number" id="cena" name="Cena" asp-for="@new_post.Amount">
                          </div>
                <input type="submit" value="Submit">
              </form>
          </div>
  </div>

<script src="~/js/form_showing.js"></script>
</body>