@model List<APIClient.Models.Farm>


@{
    ViewData["Title"] = "Home Page";
    Random rnd = new Random();
    List<string> randImg = new List<string>();
    for (int i = 0; i <= 8; i++)
    {
        int rand = rnd.Next(1, 5);
        randImg.Add($"/IMG/produkt{rand}.png");
    }
}

@functions
{
    public List<string> GetDiffrentCities()
    {
        var cities = new List<string>();

        foreach (var farm in @Model)
        {
            var city = farm.Location.City;
            cities.Add(city);
        }
        
        return cities.Distinct().ToList();
    }

    public List<SelectListItem> DropDownItems(List<string> cities)
    {
        var itemList = new List<SelectListItem>();
        foreach (var city in cities)
        {
            itemList.Add(new SelectListItem(city, city));
        }
        return itemList;
    }
    
    string hyphen = "-";
}
<head>
    <link rel="stylesheet" href="~/css/for_index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="element_produktu">
    <div class="search_bar">
    @using(Html.BeginForm("GetSelectedValue", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "farm_filter" }))
    {
        <p>Wyszukaj</p>
        <input type="text" placeholder="Wyszukaj..."\ class="serach_inp">
        <br>
        <div><label>Lokalizacja:</label><br/>
            @Html.DropDownList("FarmFilter", DropDownItems(GetDiffrentCities()), "Wybierz lokalizacje")
        </div>
        <div>
            <label>Cena:</label><br/>
            <input type="number" value="min"/>  @hyphen   <input type="number" value="max"/>
            <input type="submit" value="Submit" />
        </div>
    }
    </div>
    <div class="marketplace">
        <ul class="forms_marketplace">
            @foreach(var farmer in Model.Take(8))
            {
                <a asp-area="" asp-controller="Home" asp-action="GetFarmPosts" asp-route-id=@farmer.Id><li>
                    <div class="zdjecie_farmy">
                        <img src="@randImg[@farmer.Id]">
                    </div>
                    <div class="nazwa_farmy">
                        <p>@farmer.Name</p></div>
                    <div class="delivery_time"><img src="IMG/czas.png">
                        <p>@farmer.Delivery_Time</p></div>
                    <div class="delivery_days"><img src="IMG/dostawa.png">
                        <p>@farmer.Delivery_Days</p></div>
                    <div class="system_oceniania">
                        <img src="IMG/gwiazdka_pelna.png"/>
                        <p>(4,5)</p>
                    </div>
                    <div class="farmer_location">
                        <img src="IMG/location.png">
                        <p>@farmer.Location.City, @farmer.Location.Areas[0]</p>
                    </div>
            
                </li>
                    </a>
            }
        </ul>
    </div>
</div>
</body>